<!DOCTYPE html>
<html>



  <head>
    <title>ABOUT US</title>
    <link rel="stylesheet" href="css/aboutus.css" />
    <link rel="stylesheet" href="css/header.css" />
    <link rel="stylesheet" href="css/footer-style.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
      <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
      <link href="https://fonts.googleapis.com/css2?family=Cabin&family=Lobster&family=Montserrat:ital,wght@1,100&family=Oswald:wght@300;400&family=Oxygen:wght@300;700&family=Prompt:wght@600&family=Quicksand:wght@300&family=Righteous&family=Secular+One&family=Tilt+Prism&display=swap" rel="stylesheet">
      <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Butcherman+Caps" />
      <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Luckiest+Guy" />
      <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Walter+Turncoat" />
      <link rel="stylesheet" type="text/css"
          href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">
      <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
          <link href="https://fonts.googleapis.com/css2?family=Varela+Round&display=swap" rel="stylesheet">
          <link href="https://fonts.googleapis.com/css2?family=Shadows+Into+Light&family=Special+Elite&display=swap" rel="stylesheet">
  </head>
  
  <body>

    <!-- <div class="upper-head">

      <div class="top-logo">
          <img src="images/logo2.jpg" width="120" height="120" class="center">
      </div>
  
      <div class="title-text">
          <h1 class="title">MASTER OF MUSICS</h1>
          <p class="preheader-text">Master your music skills with the best music lessons!</p>
      </div>
  </div>
  
  <header>
      <nav class="navbar">
          <ul>
              <li><a href="#">SPOTLIGHT</a></li>
              <li><a href="#">OUR INSTRUCTORS</a></li>
              <li><a href="#">FAQs</a></li>
              <li><a href="#">CONTACT US</a></li>
              <li><a href="login.ejs">LOGIN</a></li>
              <li><a href="#">CATALOGUE</a></li>
              <li><a href="#">HOME</a></li>
              <li><a href="#"><img src="images/guitariconnav.png" class="icon" width="64" height="64"></a></li>
  
  
          </ul>
      </nav>
  </header> -->

    <%- include('header'); -%>
    <div class="aboutus-content">
      <div class="image">
        <img
          src="images/logo.jpg"
          alt="Image"
        />
      </div>
      <div class="text">
        <h2 class="heading">Know more about us</h2>
        <p>
          "Masters Of Music" is an online platform dedicated to providing
          high-quality music education to learners of all ages and skill levels.
          Our mission is to empower and inspire our students to become confident
          and accomplished musicians, no matter what their background or
          experience level.

          <br />
          At "Masters Of Music," we believe that everyone has the potential to
          learn and enjoy music. Our experienced and passionate teachers offer a
          variety of courses and lessons in a wide range of musical styles, from
          classical to contemporary, to cater to the diverse interests and goals
          of our students.

          <br />We also strive to create a supportive and collaborative learning
          environment that fosters creativity, personal growth, and lifelong
          learning. Our state-of-the-art platform and interactive tools enable
          students to learn at their own pace, connect with other learners, and
          receive personalized feedback and guidance from their instructors.

          <br />Whether you're a beginner looking to explore the world of music
          for the first time, or an experienced musician looking to refine your
          skills and take your craft to the next level, "Masters Of Music" is the
          perfect place to start your musical journey. Join us today and
          discover the joy of making music!
        </p>
      </div>
    </div>
    <img src="images/backicon.png">
    <button onclick="window.location.href ='/'" class="goback"><div class="back-content">BACK TO HOME</div></button>
    <p></p>
    <%- include('footer'); -%>

    <!-- <div>
      <footer class="footer">
          <div class="container">
              <div class="row">
                  <div class="footer-col">
                      <h4>company</h4>
                      <ul>
                          <li><a href="#">about us</a></li>
                          <li><a href="#">our services</a></li>
                          <li><a href="#">privacy policy</a></li>
                          <li><a href="#">affiliate program</a></li>
                      </ul>
                  </div>
                  <div class="footer-col">
                      <h4>get help</h4>
                      <ul>
                          <li><a href="#">FAQ</a></li>
                          <li><a href="#">Terms and Conditions</a></li>
                          <li><a href="#">Privacy Policy </a></li>
                          <li><a href="#">Contact us</a></li>
                          
                      </ul>
                  </div>
                  <div class="footer-col">
                      <h4>online shop us</h4>
                      <ul>
                          <li><a href="#">Guitars</a></li>
                          <li><a href="#">Basses</a></li>
                          <li><a href="#">Merchandise</a></li>
                          <li><a href="#">Stickers</a></li>
                      </ul>
                  </div>
                  <div class="footer-col">
                      <h4>Connect Us </h4>
                      <div class="social-links">
                          <a href="#"><i class="fab fa-facebook-f"></i></a>
                          <a href="#"><i class="fab fa-twitter"></i></a>
                          <a href="#"><i class="fab fa-instagram"></i></a>
                          <a href="#"><i class="fab fa-linkedin-in"></i></a>
                      </div>
                  </div>
              </div>
          </div>
     </footer>
  </div> -->


  </body>
</html>