<!DOCTYPE html>
<html>
<script src ="js/admin.js"></script>
<head>
	<title>My Webpage</title>
	<style>
		/* CSS styles */
		body {
			font-family: Arial, sans-serif;
			text-align: center;
		}
		h1 {
			font-size: 36px;
			margin-top: 50px;
		}
		button {
			color: blue;
			text-decoration: none;
			font-weight: bold;
			font-size: 24px;
			border: 2px solid blue;
			padding: 10px 20px;
			border-radius: 10px;
			display: inline-block;
			margin-top: 50px;
		}
		button:hover {
			background-color: blue;
			color: white;
			cursor: pointer;
		}
	</style>
    
</head>
<body>
	<!-- HTML content --><div class = "container">
	<h1>Admin Panel</h1>
	<hr>
	<button onclick="deleteuser()">Delete User</button><br>
	<button onclick="deleteteacher()">Delete Teacher</button>
    <!-- <script src = js/admin.js"></script> -->
</div>
</body>
</html>
