<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
      integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="css/description.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Cabin&family=Lobster&family=Montserrat:ital,wght@1,100&family=Oswald:wght@300;400&family=Oxygen:wght@300;700&family=Prompt:wght@600&family=Quicksand:wght@300&family=Righteous&family=Secular+One&family=Tilt+Prism&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Butcherman+Caps" />
    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Luckiest+Guy" />
    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Walter+Turncoat" />
    <link rel="stylesheet" type="text/css"
        href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
        <link href="https://fonts.googleapis.com/css2?family=Varela+Round&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Shadows+Into+Light&family=Special+Elite&display=swap" rel="stylesheet">
    <title>Document</title>
  </head>
  <body>
    <%- include('header'); -%>
    
    <div class="content">
        <h1 class="desc-title">Disclosure/Disclaimer</h1>

        <div class="center">
        <div class="txt">

    <p>
      guitarlessons365.com uses affiliate programs for monetization, which means
      when you click on links to various merchant sites that I recommend in my
      articles and make a purchase, this can result in a commission that is
      credited to this site.
    </p>
    <p>
      Some affiliate programs and affiliations include, but are not limited to,
      Commission Junction,Â Amazon.com, ClickBank, and more.
    </p>
    <p>
      I have chosen to only recommend products in my articles that I use or have
      thoroughly researched. My credibility online means everything to me, so I
      take my responsibility as an affiliate marketer very seriously. I also DO
      NOT do any paid reviews.
    </p>
    <p>OK, now for the legal gibble gabble...</p>
    <p>
      Even though I stand behind everything I promote, guitarlessons365.com and
      the owner (Carl Brown) assume no liability for products purchased outside
      of guitarlessons365.com.
    </p>
    <p>
      I know that sounds harsh, but it's just legal speak. My integrity means
      everything out here and I would not personally refer you to garbage.
    </p>
    <div class="desc-img">
        <img src="images/descimg.jpeg" width="400" height="225">
    </div>
    <p>
      <u><i>Third-Party & Sponsor Ads</i></u>
    </p>
    <p>
      Text ads that appear on the top of the page of guitarlessons365.com , near
      the bottom of pages, or above the lessons and in the right sidebar during
      a search are sponsor ads by Google AdSense (they are labeled with
      "AdChoices").
    </p>
    <p>
      guitarlessons365.com does not personally endorse the products and services
      advertised in these ads.
    </p>
    <p>
      These companies are not affiliated with guitarlessons365.com. The only
      affiliation present is the one between guitarlessons365.com and Google. In
      other words, commissions/profits are generated from Google for displaying
      these ads.
    </p>
    <p>
      If you have questions about any affiliations on this website, please don't
      hesitate to contact me. I'll be more than happy to clarify or provide
      additional details if necessary.
    </p>
    <p>
      guitarlessons365.com assumes no liability for products purchased from
      third-party websites or sponsor ads. Please make sure you read the terms
      and conditions of any product you purchase.
    </p>

</div>

</div>
    </div>
    
<div>
    <%- include('footer'); -%>
</div>
  </body>
</html>
