<!DOCTYPE html>
<html lang="en">
<head>
  <title>Footer Design</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="css/footer-style.css">
  <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">
</head>
<body>
    <div class="body_replacement">
  <div>
    <footer class="footer">
        <div class="container3">
            <div class="row">
                <div class="footer-col">
                    <h4>company</h4>
                    <ul>
                        <li><a href="aboutus">about us</a></li>
                        <li><a href="description">our services</a></li>
                        <li><a href="privacy">privacy policy</a></li>
                        <li><a href="freelessons">affiliate program</a></li>
                    </ul>
                </div>
                <div class="footer-col">
                    <h4>get help</h4>
                    <ul>
                        <li><a href="/faq">FAQ</a></li>
                        <li><a href="#">Terms and Conditions</a></li>
                        <li><a href="privacy">Privacy Policy </a></li>
                        <li><a href="/contactus">Contact us</a></li>
                        
                    </ul>
                </div>
                <div class="footer-col">
                    <h4>online shop us</h4>
                    <ul>
                        <li><a href="#">Guitars</a></li>
                        <li><a href="#">Basses</a></li>
                        <li><a href="#">Merchandise</a></li>
                        <li><a href="#">Stickers</a></li>
                    </ul>
                </div>
                <div class="footer-col">
                    <h4>Connect Us </h4>
                    <div class="social-links">
                        <a href="#"><i class="fab fa-facebook-f"></i></a>
                        <a href="#"><i class="fab fa-twitter"></i></a>
                        <a href="#"><i class="fab fa-instagram"></i></a>
                        <a href="#"><i class="fab fa-linkedin-in"></i></a>
                    </div>
                </div>
            </div>
        </div>
   </footer>
</div>
</div>

</body>
</html>
