<!DOCTYPE html>

<html>

<head>
    <link rel="stylesheet" href="css/freelessons.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Cabin&family=Lobster&family=Montserrat:ital,wght@1,100&family=Oswald:wght@300;400&family=Oxygen:wght@300;700&family=Prompt:wght@600&family=Quicksand:wght@300&family=Righteous&family=Secular+One&family=Tilt+Prism&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Butcherman+Caps" />
    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Luckiest+Guy" />
    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Walter+Turncoat" />
    <link rel="stylesheet" type="text/css"
        href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
        <link href="https://fonts.googleapis.com/css2?family=Varela+Round&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Shadows+Into+Light&family=Special+Elite&display=swap" rel="stylesheet">
</head>
<body>
    <%- include('header'); -%>

    <h1><i><b>Free Lessons</i></b></h1>
    <h2><i><b>Whet your appetite for guitar awesomeness for free!</i></b></h2>

	<div class="section">
		<div class="image">
			<img src="https://guitarlessons365.com/wp-content/uploads/2014/08/iStock_000016997871_Medium-1024x768.jpg">
		</div>
		<div class="text">
			<h3>Want a taste of what's awaiting you in my premium lessons? Check out these videos.</h3>
		<p>The free guitar lessons you will find in this section of GuitarLessons365 are the ones that you will find on my regular lesson channel on YouTube called ‘GuitarLessons365′.

           <br>All of those YouTube lessons are organized much better here. Simply click on the category of the lessons you would like to watch in the sidebar to the left and you will find all of the YouTube lessons for that category on one page.
            
           <br>In addition, all of the TABS that go along with all of my YouTube based free guitar lessons can be found on each lesson’s page in the form of a downloadable PDF link right above each lesson video.
            
           <br>My goal with these free guitar lessons is to give any guitarist who can’t afford private lessons a chance to learn what really is required to be a competent guitarist, while also learning some fun stuff along the way.
            
           <br> My YouTube lessons range from total beginner to extremely advanced in many styles so there should be something here for practically everyone.
            
           <br>Keep checking back here weekly because I put up new YouTube lessons every week</p>
        </div>
	</div>
    <div class="button">
        <button class="button">Skip to the Good Stuff></button><br><br>
    </div>
  
   

	<div class="section">
		<div class="text">
			<h3>Want more? Subscribe today!</h3>
<p>By subscribing to the site you will receive my newsletter that I send out every couple of weeks letting you know what the new lessons are for the past couple of weeks and where to find them.

 <br><br>If you have any questions about any of the lessons please ask it in the comment section that you will find under every lesson video on this site. I answer those a few times a day and it is the fastest way to get in touch with me most of the time.
    
 <br><br>Well that is about it. Enjoy!
    
    
    </p>		
</div>
		<div class="image">
			<img src="https://guitarlessons365.com/wp-content/uploads/2014/08/iStock_000013836989_Medium-1024x682.jpg">
		</div>
	</div>
    <div class="buttons">
        <buttons class="buttons">Subscribe Now</buttons>
    </div>
   
    <div class="img">
        <br><br><br><br><br><br><img src="https://guitarlessons365.com/dynamicbannerlink">
</div>
<%- include('footer'); -%>
</body>
</html>
