<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/style3.css">
    <title>Document</title>
</head>

<body>
    <%- include('header'); -%>
    <div class="wh">
        <div class="main">
            <div>
                <h1 class="heading"><i>Privacy Policy</i> </h1>
                <p>The privacy of my visitors to guitarlessons365.com is important to me.</p>
                <p>At guitarlessons365.com, I recognize that privacy of your personal information is important. Here is
                    information on what types of personal information I receive and collect when you use visit
                    guitarlessons365.com, and how I safeguard your information.</p>
                <p>I never sell any kind of personal information to third parties or use this data for any illegal
                    activities.</p>
            </div>
            <div>
                <h3 class="log">Log files </h3>
                <p class="second">
                    As with most other websites, I collect and use the data contained in log files. The information in
                    the log files include your IP (internet protocol) address, your ISP (internet service provider, such
                    as AOL or Time Warner), the browser you used to visit our site (such as Internet Explorer or
                    Firefox), the time you visited my site and which pages you visit.
                </p>
            </div>
            <div>
                <h3 class="log"> Cookies and Web Beacons</h3>
                <p class="second">I do use cookies to store information, such as your personal preferences when you
                    visit this site.
                </p>
                <p>I use third-party advertising companies to serve ads when you visit this website. These companies may
                    use information (not including your name, address, email address, or telephone number) about your
                    visits to this and other websites in order to provide advertisements about goods and services of
                    interest to you.</p>
                <p>
                    This is generally used for geotargeting purposes (showing Los Angeles restaurants to Los Angeles
                    residents, for example) or showing certain ads based on specific sites visited (such as showing
                    guitar related ads to someone who frequents guitar lesson sites).
                </p>
                <p>You can choose to disable or selectively turn off our cookies or third-party cookies in your browser
                    settings, or by managing preferences in programs such as Norton Internet Security.</p>
                <p>However, this can affect how you are able to interact with my site as well as other websites. This
                    could include the inability to login to services or programs, such as logging into forums or
                    accounts.</p>
            </div>
            <div>
                <h3 class="log">Google AdSense</h3>
                <p>
                    The Google's AdSense program uses the <span class="highlight">DoubleClick DART cookie</span>.
                    Google's use of the DART cookie enables this site to serve ads to you based on your visit to this
                    site and/or other sites on the Internet. You may opt out of the use of the DART cookie by visiting
                    the <span class="highlight">Google ad and content network privacy policy.</span>
                </p>
            </div>
            <div>
                <h3 class="log">Google AdSense</h3>
                <p>Should you contact me or subscribe to any of my information services via email, I will never sell or
                    give away your email address.</p>
            </div>

        </div>

    </div>
    <%- include('footer'); -%>
</body>

</html>