<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="css/profile.css">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Profile</title>
   
</head>
<body>
    <%- include('header'); -%>
    <div class="bg">
        <div class="bg1">
            <img class="bg2" src="images/10.jpg" alt=" Image" >

        </div>




        <div class="container">
            <div class="bg4">

                <span class="text first-text">Profile</span>
                <!-- <span class="text sec-text">Music is the shorthand of emotion</span> -->
            </div>
        </div>


        

        <div class="bg3">
            <div class="slider">
                <span style="--i:1"><img src="images/1.jpg" alt="image"></span>
                <span style="--i:2"><img src="images/2.jpeg" alt="image"></span>
                <span style="--i:3"><img src="images/3.jpg" alt="image"></span>
                <span style="--i:4"><img src="images/4.jpeg" alt="image"></span>
                <span style="--i:5"><img src="images/5.jpeg" alt="image"></span>
                <span style="--i:6"><img src="images/6.jpeg" alt="image"></span>
                <span style="--i:7"><img src="images/7.avif" alt="image"></span>
                <span style="--i:8"><img src="images/8.webp" alt="image"></span>
            </div>
        </div>

        
    </div>
   
        <div class="bg5">
            <h1>Nirbhay Gupta</h1>
            <h3>Attenend S.R.V. Music School, Thrissur first music school in Kerala</h3>

            <br>
            <p>Sasaram, Bihar, India</p>
        </div>

        <div class="box">
            <div class="bg6">
                <h1>Status</h1>
    
            </div>

            <div class="bg7">
                <h1>About</h1>
                <br>
                <p>love exploring new thing</p>
                <p>love for music can not be described in word </p>
                <p>hobbies:- stargazing</p>
            </div>
        </div>

        <div class="bg8">
            <h1>My Course</h1>
        </div>

        <div class="bg9">
            <h1>links</h1>
            <div class="bg10">
                <span ><img class="image" src="images/mail.webp" alt="image"></span>
                <span ><img class="image" src="images/linkedln.png" alt="image"></span>
                <span ><img class="image" src="images/facebook.webp" alt="image"></span>
                <span ><img class="image" src="images/instagram.png" alt="image"></span>
                <span ><img class="image" src="images/twitter.png" alt="image"></span>
           
            </div>
          

        </div>
    </div>
    <%- include('footer'); -%>
</body>
</html>