<!DOCTYPE html>

<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="css/rockcoursedesc.css">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
        <link href="https://fonts.googleapis.com/css2?family=Cabin&family=Lobster&family=Montserrat:ital,wght@1,100&family=Oswald:wght@300;400&family=Oxygen:wght@300;700&family=Prompt:wght@600&family=Quicksand:wght@300&family=Righteous&family=Secular+One&family=Tilt+Prism&display=swap" rel="stylesheet">
    </head>
    <body style="background-color: black;">
        <%- include('header'); -%>

        <div class="video-part">
            <div class="our-team">
                <h1 class="our-team-header">ROCK</h1>
                <p class="our-team-content">We have music instructors from the best institutes</p>
                <p class="our-team-content">of music. Heavy metal like Metallica, Megadeth, Black Sabbath</p>
                <p class="our-team-content">Hard Rock like AC/DC and Guns-and-Roses, Classy Blues like </p>
                <p class="our-team-content">Pink Floyd and The Beatles, Jimi Hendrix's blues chords,</p>
                <p class="our-team-content">core music theory, Amplifier settings, guitar tone, guitar maintenance</p>
                <p class="our-team-content">you name it, we have it. Have a look at our instructors below!</p>
              </div>
            <div class = "video_box">
                <img width="500" height="250" src="images/rockdesc.png" >
            </div>     
      
        </div>

        <div class="course-list">
          <div class="our-team our-team-header rock">ROCK COURSES</div>
        <div class="row row-cols-1 row-cols-md-3 g-4 cards">
            <div class="col card-pad">
                <div class="card crd">
                    <a href="#"><img src="images/rockimpl1.png" class="card-img-top" alt="..."></a>
                  <div class="card-body">
                    <h6 class="card-title">Rock Improvisation Level 1 - Pentatonic</h6>
                    <!-- <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p> -->
                  </div>
                </div>
              </div>

            <div class="col card-pad">
              <div class="card crd">
                <a href="#"><img src="images/rockimpl2.png" class="card-img-top" alt="..."></a>
                <div class="card-body">
                  <h6 class="card-title">Rock Improvisation Level 2 - Major Keys</h6>
                  <!-- <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p> -->
                </div>
              </div>
            </div>

            <div class="col card-pad">
                <div class="card crd">
                  <a href="#"><img src="images/rockimpl3.png" class="card-img-top" alt="..."></a>
                  <div class="card-body">
                    <h6 class="card-title">Rock Improvisation Level 3 - Minor Keys</h6>
                    <!-- <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p> -->
                  </div>
                </div>
              </div>

              <div class="col card-pad">
                <div class="card crd">
                  <a href="#"><img src="images/rockimpl4.png" class="card-img-top" alt="..."></a>
                  <div class="card-body">
                    <h6 class="card-title">Rock Improvisation Level 4 - Modes</h6>
                    <!-- <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p> -->
                  </div>
                </div>
              </div>

              <div class="col card-pad">
                <div class="card crd">
                  <a href="#"><img src="images/rockimpl5.png" class="card-img-top" alt="..."></a>
                  <div class="card-body">
                    <h6 class="card-title">Rock Improvisation Level 5 - Appregios</h6>
                    <!-- <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p> -->
                  </div>
                </div>
              </div>

            </div>
            </div>
            <%- include('footer'); -%>


        
        
        <script src="" async defer></script>
        <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js" integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.min.js" integrity="sha384-mQ93GR66B00ZXjt0YO5KlohRA5SY2XofN4zfuZxLkoj1gXtW8ANNCe9d5Y3eG5eD" crossorigin="anonymous"></script>

    </body>
</html>