#heading{
    color: white;
}

#search-box{
    border-radius: 50px;
}

#navbar-id{
    background-color: rgba(0, 0, 0, 0.411);
}

.see-all{
    padding-top: 25px;
    padding-right: 20px;
}
.title-seeall{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: nowrap;
}

.see-all-txt{
    color:rgb(255, 255, 255);
    font-family: 'Quicksand', sans-serif;
}

.see-all-button{
    background-color: black;
    color: white;
    border: 0px;
    font-family: 'Quicksand', sans-serif;
}

h1{
    /* font-family: 'Quicksand', sans-serif; */
    padding: 15px;
    padding-top: 25px;
}




.crd{
    width: 350px;
    height: 300px;
}


h6{
    font-family: 'Quicksand', sans-serif;
    padding-left: 5px;
    transition: .3s ease;
    cursor: pointer;
    text-align: center;
}

h6:hover{
    transform:scale(1.05);
}

.card-pad{
    padding: 0px;
}

hr{
    color: ghostwhite;
}
