
.title-head{
    background-color: #3d3d3d;
    color:aqua;
    padding: 10px;
    font-family: 'Bruno Ace', cursive;
}



 
.current-video{
    margin-top: 20px;
}



.course-box{
 
    box-shadow: 0px 6px 34px rgba(255, 255, 255, 0);
    background-color: rgba(255, 255, 255, 0.889);
    padding: 30px;
    border-radius: 6px;
    margin-top: 1.5rem;
    }
    
.course-content{
        max-height: 300px;
        position: relative;
        width: 100%;
        overflow: hidden;
    }

    .title-style{
        border-bottom: 2px solid #e6e3f14f;
        margin-bottom: 24px;
        padding-bottom: 20px;
        }

        .style1{
            font-size: 20px;
            line-height: 1.25;
            font-weight: 700;
            word-break: break-word;
            margin: 0;
            font-family: "Euclid Circular", Arial, sans-serif;
            color: #464646;
        }

        .list1 li {
            padding: 5px;
            display: flex;
            font-size: 18px;
            margin: 7px 0;
            margin-top: 7px;
            line-height: 1.45;
            color: #373737;
            font-family: 'Quicksand', sans-serif;
          }
        
          .greentick{
            padding-right: 0.7rem;
            margin-top: 15px;
            line-height: 1;
          }


          


          .video-title{
            font-family: 'Quicksand', sans-serif;
            padding: 5px;
            background-color: rgb(255, 255, 255);
            color: rgb(152, 29, 29);
            font-weight: bold;
          }
button{
    padding: 10px;
    
    background-color: rgb(0, 191, 255);
    border-radius: 20px;
}

button:hover{
    background-color: deepskyblue;   

}

.add-to-fav-button{
    padding: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: nowrap;

}
.button-icon:hover{
    background-image: url(../images/wishlisthover.png);
}

.wishlist-butt{
    margin-top: 5px;
    font-family: 'Bruno Ace', cursive;
    border-radius: 30px;
}

.prev-butt{
    font-family: 'Bruno Ace', cursive;
    border-radius: 30px;
}

.next-butt{
    font-family: 'Bruno Ace', cursive;
    border-radius: 30px;
}

.buttons{
    margin-bottom: 20px;
}

.button-out{
    /* margin-bottom: 20px; */
    float: left; 
    width: 50%;
}

.prev-{
    margin-left: 50%;
}

.next-{
    margin-left: 50%;
}

.button-text{
    font-size: 15px;
    padding-top: 2px;
    font-family: 'Quicksand', sans-serif;
    font-weight: bolder;
}


.fav-share-buttons{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: nowrap;

}
