
.upper-head {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: nowrap;
    background-image: url(../images/preheaderbg.jpg);
}

.preheader-text{
    padding-top: 13px;
    text-align: right;
    color:  #00fff2a8 ;
    margin-right: 30px;
    font-size: 17px;
    font-family: 'Shadows Into Light', cursive;
    text-shadow: 10px 10px 25px #00fff2;
    transition: .3s ease;
    cursor: text;

}

.preheader-text:hover{
    transform: scale(1.05);
}

header{
    background-color: black;
}

.navbar {
    color: rgba(0, 0, 35, 0.84);

}

.navbar ul {
    overflow: auto;

}

.navbar li {
    margin: 15px 20px;
    float: right;
    list-style: none;
}




.icon:hover {
    background-image: url(../images/guitariconnav3.png);
    transform:scale(1.1);
}


.navbar li a {
    font-size: 15px;
    color: rgba(211, 211, 214, 0.856);
    padding: 5px 5px;
    font-family: 'Cabin', sans-serif;
    text-decoration: none;
    transition: .3s ease;
    cursor: pointer;
}

.navbar li a:hover {
    color: rgba(118, 211, 232, 0.864);
    font-size: 16px;
    /* background-color: rgba(0, 0, 0, 0.471); */
    border-radius: 15px;
    transform:scale(1.1);
    /* font-family: 'Tilt Prism', cursive; */

}

.title {

    /* text-shadow: -1px 1px 0 #0a6cddae,
                          1px 1px 0 #0a6cddae,
                         1px -1px 0 #0a6cddae,
                        -1px -1px 0 #0a6cddae; */
    color: rgba(254, 205, 57, 0.967);
    padding: 5px;
    margin: 5px;
    /* margin-left: 1000px; */
    font-family: 'Shadows Into Light', cursive;
    text-shadow: 10px 10px 25px #00fff2;
    font-size: 47px;
    font-style: normal;
    font-variant: normal;
    line-height: 44px;


}