.video-part{
    display: flex;
    flex-direction: row;
    background-color: rgb(43, 43, 43);

}

.our-team{
    margin: 4%;
    /* flex: 1; */
    /* display: inline-block; */
    text-align: left;
    /* margin-top: 120px; */
    font-family: 'Quicksand', sans-serif;
    
}



.our-team-header{
    color: white;
    font-weight: bolder;
}

.our-team-content{
    color: white;
    font-size: 18px;
}

.video_box{
    margin-top: 8%;
    margin-left: 10%;
}


.course-list{
    padding: 25px;
    padding-top: 50px;
    padding-bottom: 50px;
}


h1{
    /* font-family: 'Quicksand', sans-serif; */
    padding: 15px;
    padding-top: 25px;
}




.crd{
    width: 350px;
    height: 300px;
}


h6{
    font-family: 'Quicksand', sans-serif;
    padding-left: 5px;
    transition: .3s ease;
    cursor: pointer;
    text-align: center;
}

h6:hover{
    transform:scale(1.05);
}

.card-pad{
    padding: 0px;
}

.rock{
    padding: 20px;
    font-size: 25px;
}