* {
    font-family: "Josefin Sans", sans-serif;
}

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}




.register {

    background: -webkit-linear-gradient(left, #e6e9f0, #eef1f5);
    margin-top: 3%;
    padding: 3%;
}





.register-left {
    background: #f8f9fa;
    border-top-left-radius: 10% 50%;
    border-bottom-left-radius: 10% 50%;
}

.icon {
    height: 40%;
    width: 60%;
    border-radius: 10rem;

}

/* img {
    transform: rotate(8deg);
} */

.rotate {
    animation: rotation 2s;
}


@keyframes rotation {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(359deg);
    }
}


.linear {
    animation-timing-function: linear;
}

.infinite {
    animation-iteration-count: infinite;
}


.rotate-image {
    animation: rotation 2s linear infinite;
}


.register .register-form {
    padding: 10%;
    margin-top: 10%;
}

.btnRegister {

    margin-top: 7%;
    border: none;
    border-radius: 1.5rem;
    padding: 2%;
    background: #0062cc;
    color: #fff;
    font-weight: 600;
    width: 30%;
    cursor: pointer;
    float: left;
}









.register-heading {
    text-align: center;
    margin-top: 8%;
    margin-bottom: -15%;

    color: #0062cc;

}


#container {
    position: absolute;
    margin: auto;
    width: 100%;
    height: 80pt;
    top: 0;
    bottom: 0;

    filter: url(#threshold) blur(0.6px);
}

#container1 {
    position: absolute;
    /* margin: auto; */
    margin-top: 50%;
    width: 100%;
    height: 80pt;
    top: 0;
    bottom: 0;

    filter: url(#threshold) blur(0.6px);
}



#text1,
#text2 {
    position: absolute;
    width: 100%;
    color: #0062cc;
    display: inline-block;

    font-family: "Raleway", sans-serif;
    font-size: 70pt;

    text-align: center;

    user-select: none;
}













































.form-control {
    width: 70%;
    border-radius: 1rem;

    background: -webkit-linear-gradient(left, #e6e9f0, #eef1f5);
}





.down {
    margin-top: 7%;

    padding: 2%;

    color: black;

    cursor: pointer;
    float: left;
}