@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');





.main {
    margin-left: 10%;
    margin-right: 10%;
    background: -webkit-linear-gradient(left, #e6e9f0, #eef1f5);
    margin-top: 2%;
    margin-bottom: 2%;
    padding: 5px;

    /* background-color: white; */

}

.heading {
    font-size: 50px;
    font-weight: 800;
    /* color: aqua; */
}

.log {
    text-decoration: underline;
    margin-bottom: 2px;
}

.highlight {
    color: red;
}

.second {
    margin-top: 0%;
}


/* * {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
} */