
*{
    font-family: 'Quicksand', sans-serif;
}

body{
    margin: 0px;
    padding: 0px;

    background-color: #000000;
     background-attachment: fixed;
    background-size: cover;

}
.upper-head {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    flex-wrap: nowrap;
    /* background-image: url(preheaderbg.jpg); */

    background-color: #330033;
background-image: url(../images/preheaderbg.jpg);
    /* width:"50px"; */
    height:"50px";


}

.preheader-text{
    padding-top: 13px;
    text-align: right;
    color:  #00fff2a8 ;
    margin-right: 30px;
    font-size: 17px;
    font-family: 'Bruno Ace', cursive;
    text-shadow: 10px 10px 25px #00fff2;
    transition: .3s ease;
    cursor: text;

}

.preheader-text:hover{
    transform: scale(1.05);
}


.specific header{
    background-color: black;
}

.specific .navbar {
    color: rgba(0, 0, 35, 0.84);

}

.spefic .navbar ul {
    overflow: auto;

}

.specific .navbar li {
    margin: 15px 20px;
    float: right;
    list-style: none;
}











.title {

    color: rgba(254, 57, 57, 0.967);
    padding: 5px;
    margin: 5px;
    font-family: 'Bruno Ace', cursive;
    text-shadow: 10px 10px 25px #ffffff7b;
    font-size: 47px;
    font-style: normal;
    font-variant: normal;
    line-height: 44px;


}

 .top-logo{
     display: flex;
     
    align-content: center;
    height: 130px; 
} 


.container{
   color: white;
     display: flex;
    /* align-items: flex-start;  */
     justify-content: space-between; 

    margin: 0px 0px 0px 10px;
    padding: 15px;
    

} 

.btn-button{
    color: black;
    height: 50px;
    width: 150px;
   color: white;
    border: 1px solid black;
    border-radius: 25px;
    background-color: blue;

    cursor: pointer;
    font-size: 15px;
     margin: 0px 0px 0px 10px;
    border: none;
    /* text-align: center; */
    transition: 0.4s all;
    text-decoration: none;
    overflow: hidden;
}

.btn-button:hover{
    background-color: #fff;
    box-shadow: 0px 2px 10px 5px #97b1bf;
    color:#000
}

.btn-button:focus{
    outline: none;
}



.upper {
    background: #287FF0;
    position: relative;
    /* height: 20%; */
    height: 150px;
    width: 100%;
}

.photo {
    /* float: left; */
    margin-top: 1%;
    margin-left: 10%;
    border-radius: 50%;
}

.left {
    margin-top: 4%;
    margin-left: 10%;

    /* font-weight: 1200; */
    /* color: lightgray; */
}

.right {
    margin-top: 4%;
    /* margin-left: 5%; */
}

.animated-text {
    color: #FF0000;
    animation: fadeInOut 3s linear infinite;
}

.row {
    display: flex;
}


@keyframes fadeInOut {
    0% {
        opacity: 0;
    }

    33% {
        opacity: 1;
    }

    66% {
        opacity: 2;
    }

    100% {
        opacity: 0;
    }
}



.content {
    margin-top: 5%;
}

.edu {
    justify-content: center;
}

.upload-heading{
    color: white;
     
     font-weight: bolder;
     font-family: 'Quicksand', sans-serif;
     font-size: 30px;
     padding: 20px;
     margin-left: 135px;
 
 }
 
 #guitar-icon-nav:hover {
     background: none;
 }
 
 
 #col1{
     padding: 30px;
     gap: 30px;
 
 }
 
 .grid-element{
    margin: auto;
     transition: .3s ease;
   
     cursor: pointer;
 }
 
 
 
 .grid-element:hover {
     transform:scale(1.15);
 }

 .bott2 .bottom2{
    padding: 0px,0px,0px,30px;
    color: black;
    height: 50px;
    width: 150px;

    border: 1px solid black;
    border-radius: 25px;
    background-color: blue;

 }